<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
    <head>
        <title>Registro de Usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script defer="defer" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div th:if=${param.exito}>
                        <div class="alert alert-info">
                            Se ha registrado exitosamente a la aplicación
                        </div>
                        
                        <h1>Registrate</h1>
                        <form th:action="@{/registro}" method="post" th:object="${usuario}">
                            <div class="form-group">
                                <label class="group-form" for="nombre">Nombre : </label>
                                <input type="text" id="nombre" class="form-control" th:field="*{nombre}" required autofocus="autofocus">
                            </div>
                            
                            <div class="form-group">
                                <label class="group-form" for="apellido">Apellido : </label>
                                <input type="text" id="apellido" class="form-control" th:field="*{apellido}" required autofocus="autofocus">
                            </div>
                            
                            <div class="form-group">
                                <label class="group-form" for="email">Email : </label>
                                <input type="email" id="email" class="form-control" th:field="*{email}" required autofocus="autofocus">
                            </div>
                            
                            <div class="form-group">
                                <label class="group-form" for="password">Password : </label>
                                <input type="password" id="password" class="form-control" th:field="*{password}" required autofocus="autofocus">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success"> Registrar Usuario</button>
                                <span>Si estás registrado <a>inicia sesion aquí</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
